.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: center; /* Center items horizontally #708090 */
  position: relative; 
  align-items: center; /* Center items vertically */
}

.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform-style: preserve-3d;

}

.hero-buttons {
  margin-top: 20px; /* Add some margin if needed */
}

.textContainer {
  position: relative;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.textContainer p {
  font-size: 8vw;
  font-weight: 700;
  margin: 0px;
  transition: all 0.4s;
  color: rgb(51 65 85);
  line-height: 8vw;
}

.textContainer .secondary {
  transform: rotateX(-90deg) translateY(3.5vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: rgb(148 163 184);
  opacity: 0;
}

.textContainer:hover {
  transform: rotateX(90deg);
}

.textContainer:hover .secondary {
  opacity: 1;
}

.textContainer:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}

.svgContainer {
  position: absolute; /* Set the SVG container position to absolute */
  bottom: -30px; /* Align the SVG container to the bottom of the parent container */
  left: 50%; /* Adjust the horizontal alignment of the SVG container */
  transform: translateX(-50%); /* Center the SVG container horizontally */
}

.svgContainer svg {
  fill: var(--gray-80);
  position: bottom;
}


.svgContainer svg {
  animation: 5s cubic-bezier(.85,-0.16,.24,1.23) infinite point-down;
}

@keyframes point-down {
  0%, 10%, 40% , 100%{
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(0, 1rem, 0);
  }
}

/* Media Query for small screens */
@media only screen and (max-width: 768px) {
  .container {
    height: 80vh; /* Adjust viewport height for smaller screens */
  }

  .body {
    margin-top: 50px;
    margin-left: 20px;
  }

  .textContainer p {
    font-size: 10vw;
    line-height: 10vw;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    height: 60vh; /* Further adjust viewport height for smaller screens */
  }

  /* .body {
    margin-top: 30px;
    margin-left: 10px;
  }*/

  .textContainer p {
    font-size: 8vw;
    line-height: 8vw;
  }
}
