.backToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0070f3;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
  opacity: 1;
}

.hidden {
  display: none;
}
